
.grid-full-height{
  display: flex; 
  flex-direction: column;
  width: 100vw;
  height: 100vh;
	transform-origin: top center;
  animation: openContent 0.4s ease-in;
}


@keyframes openContent{
  0% {
      opacity: 0;
      transform: scaleY(0);
  }
  100% {
      opacity: 1;
      transform: scaleY(1);
  }
}
