/* table, */
td {
    border: 1px solid #ddd;
}

table {
    height: 100vh;
    width: 100vw;
}

td:first-child {
    width: 80px;
}

.flex{
    display: flex;
}

.no-bullet{
    list-style-type: none; 
    text-align: left;
    padding : 0;
    margin : 0;
    display:flex;
    flex-direction: column;
}

.salarie{
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 0;
}

.task{
    background-color: #db2e2e;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 0;
}

.chantier{
    background-color: #ffe600;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 0;   
}