/* table, */
.table-planning td {
    border: 1px solid #ddd;
}

.table-planning {
    height: 100vh;
    width: 100vw;
    border-collapse: separate;
}

.table-planning td:first-child {
    width: 74px;
}

.flex{
    display: flex;
    margin: 0 auto;
}

.no-bullet{
    list-style-type: none; 
    text-align: left;
    padding : 0;
    margin : 0;
    display:flex;
    flex-direction: column;
}

.salarie{
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 2px;
}

.task{
    background-color: #db2e2e;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 0;
}

.chantier{
    background-color: #ffe600;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 0px 5px;
    margin: 2px 0;
    width:max-content;
    margin: 0 auto;   
}

.td-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}