.type-input{
    width: 100%;
    min-width: 300px;
    margin: 5px 0;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}

.invalide{
    box-shadow: 0 0 2px 1px rgb(250, 36, 36) !important;
    border-radius: 4px;
}