.type-input{
    width: 100%;
    min-width: 300px;
    margin: 5px 0;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}

.invalide{
    /* border: 1px solid rgb(225, 67, 67) ; */
    box-shadow: 0 0 3px 1px red !important;
    border-radius: 6px;
}