.button-component{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    gap: 0.3rem;
    background-color: rgba(5, 47, 102, 0.973);;
    color: white;
    border: none;
}