.button-component{
    display: flex;
    font-size: 1rem;
    width: 100%;
    margin: 5px 0;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
}