.plan-popup-fade{
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.7);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 0;
}

.plan-popup-wrap{
    width: 85%;
    height: 85%;
    background-color: white;
    overflow: scroll;
}

.plan-popup-wrap p{
    margin-bottom:0;
}

.plan-popup-wrap>div{
    min-height: calc(100% - 48px);
}

.plan-popup-wrap .card{
    border: none;
    box-shadow: none; 
    margin: 0;
    min-width: 0;
}

.task-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 1px solid rgb(186, 204, 255);
    box-shadow: 1px 1px 3px rgb(104 147 198);
    color: rgb(12, 12, 96);
    margin: 1rem auto;
    padding: 0.7rem 1rem;
    gap: 1rem;
}

.plan-popup-wrap .return-button{
    margin: 5px auto;
    width: 96%;
}
 