.plan-pop-fade{
    width:100vw;
    height:100vh;
    background-color:rgba(0, 0, 0, 0.527);
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-pop-wrap{
    width: 80%;
    height: 80%;
    background-color: white;
}