.tache-card-valid{
    display: flex;
    flex-direction: column;
    margin: 0.1rem 0.5rem;
    padding: 0.5rem;
    width: 100%;
    min-width: 300px;
    border: 1px solid rgb(186, 204, 255);
    box-shadow: 1px 1px 3px rgb(104, 147, 198);
    color: rgb(12, 12, 96);
}

.tache-card-subcontent ul{
    padding: auto;
    width: 50%;
}


.tache-card-valid h3{
    font-weight: 600;
    text-align: center;
    color: rgb(12, 12, 96);
}


.tache-card-number{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}